<div class="p-5">
    <div class="ui large centered header mb-5">Welcome XYZ</div>
    <div class="ui centered grid">
      <div class="row">
        <div class="four wide column">
          <div class="ui green segment">
            <p class="ui medium header">New Grievances</p>
            <div class="ui small header">4</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui blue segment">
            <p class="ui medium header">Total Grievances</p>
            <div class="ui small header">32</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four wide column">
          <div class="ui yellow segment">
            <a class="ui medium header" routerLink='ag'>Active Grievances</a>
            <div class="ui small header">7</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui red segment">
            <a class="ui medium header" routerLink='cg'>Closed Grievances</a>
            <div class="ui small header">25</div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>