<div class="three wide column">
  <div class="ui vertical fluid tabular menu ">
    <a class="item" routerLinkActive="active" routerLink="/empdb">
      Welcome Mr. XYZ
    </a>
    <a class="item" routerLinkActive="active" routerLink="/complaint">
      Lodge a complaint
    </a>
    <a class="item" routerLinkActive="active" routerLink="/empp">
      Profile settings
    </a>
    <a class="item">
      Account Activity
    </a>
    <a class="item" (click)="logout()">
      Logout
    </a>
  </div>
</div>