<h4 class="ui centered inverted segment header">
    <img class="ui medium circular image" src="assets/images/rp_logo.png">
    <div class="inverted content">
      <h3>Grievance Redressal Portal</h3>
    </div>
  </h4>
  <div class="p-5">
      <div class="ui grid">
          <div class="field">
                <label>Closure for xyz grievance</label>
                  <div class="four wide field"></div>
                  <div class="eight wide field">
                    <input type="text" name="grievance title" placeholder="Grievance Title">
                  </div><br><br>
                    <input type="text" name="grievance" placeholder="Closure Statement"><br><br>
                    <form action="#">
                        <label for="myfile">Attach Document of Proof</label><br>
                        <input type="file" id="myfile" name="myfile"><br><br>
                    </form>
                <div class="ui green button" tabindex="0">Submit</div>
          </div>
      </div>
  </div>