<div class="p-5">
  <div class="ui large header">Grievances</div>
  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>Category</label>
        <select class="ui fluid dropdown">
          <option value="" selected disabled hidden>Category</option>
          <option value="#">Service Record</option>
          <option value="#">Salary</option>
          <option value="#">Staff Benefits</option>
          <option value="#">Cadre</option>
          <option value="#">Orderly Room</option>
        </select>
      </div>
      <div class="field">
        <label>Sub-Category</label>
        <select class="ui fluid dropdown">
          <option value="" selected disabled hidden>Sub-Category</option>
          <option value="#">Movable and immovable property</option>
          <option value="#">Service Register</option>
          <option value="#">MACP</option>
          <option value="#">Fixation Settlement</option>
          <option value="#">APAR</option>
          <option value="#">Barracks maintenance</option>
          <option value="#">Pass Application/PTO</option>
          <option value="#">Medical card/UMID</option>
          <option value="#">SBF CSBF</option>
          <option value="#">Quaters</option>
          <option value="#">Leave</option>
          <option value="#">Transfer</option>
          <option value="#">Seniority</option>
          <option value="#">Promotion</option>
          <option value="#">Premature Retirement</option>
          <option value="#">SrDSC</option>
          <option value="#">PCSC</option>
          <option value="#">DG</option>
        </select>
      </div>
      <div class="field">
        <label>Status</label>
        <select class="ui fluid dropdown">
          <option value="" selected disabled hidden>Status</option>
          <option value="#">New</option>
          <option value="#">Pending</option>
          <option value="#">Closed</option>
        </select>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <div class="ui submit button">Filter</div>
        <!--
            TODO: Implement the Filter
          -->
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui selection list">
    <div class="item" *ngFor="let item of grievances">
      <div class="ui fluid card">
        <div class="content">
          <div class="ui header">{{item.title}}</div>
          <div class="meta">
            <span class="date">{{item.dateOfPost}}</span>
          </div>
          <div class="description">{{item.description}}</div>
        </div>
        <div class="extra content">
          <div *ngIf="item.status.new" class="ui green label">New</div>
          <div *ngIf="item.status.pending" class="ui yellow label">Pending</div>
          <div *ngIf="!item.status.pending" class="ui red label">Closed</div>
          <div class="right floated">
            <button *ngIf="!item.status.closed" class="ui button" onclick="$('item.status.closed: true')">Close</button>
          </div>
          <div class="right floated">
            <button *ngIf="!item.status.closed" class="ui button">
              Escalate
            </button>
            <!--
              TODO: Implement Escalate
            -->
          </div>
          <div class="right floated">
            <button *ngIf="item.status.new" class="ui button" onclick="$('.ui.modal')
              .modal('show')
            ;">Assign</button>
            <!--
              TODO: Implement Assign
            -->
          </div>
          <div class="right floated">
            <button *ngIf="!item.status.closed" class="ui button">Completion Certificate</button>
            <!--
              TODO: Implement Completion Cerificate Generation and send to EO for Approval
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal">
    <button class="close icon" style="margin-top: 30px;"></button>
    <div class="header">Assignment of New Grievances</div>
    <div class="ui relaxed divided list">
      <table class="ui very basic collapsing celled table">
        <thead>
          <tr>
            <th>List of dealers</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h4 class="ui header">
                <i class="ui users icon"></i>
                <div class="content">
                  Dealer1
                </div>
              </h4>
            </td>
            <td>
              <button class="sub header">Assign
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui header">
                <i class="ui users icon"></i>
                <div class="content">
                  Dealer2
                </div>
              </h4>
            </td>
            <td>
              <button class="sub header">Assign
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui header">
                <i class="ui users icon"></i>
                <div class="content">
                  Dealer3
                </div>
              </h4>
            </td>
            <td>
              <button class="sub header">Assign
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui header">
                <i class="ui users icon"></i>
                <div class="content">
                  Dealer4
                </div>
              </h4>
            </td>
            <td>
              <button class="sub header">Assign
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>